<!-- Nav Bar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Digimon Toys</a>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/featured" routerLinkActive="active">Featured <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/action-figures" routerLinkActive="active">Action Figures</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/plush-toys" routerLinkActive="active">Plush Toys </a>
            </li>
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/accessories" routerLinkActive="active">Accessories </a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/dvds" routerLinkActive="active">DVDs </a>
              </li>
          </ul>
        </div>
      </nav>
<!-- Gallery -->
<carousel>
        <slide>
          <img src="https://images4.alphacoders.com/678/678893.jpg" alt="First slide" style="display: block; width: 100%;">
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/digimon-header-2.jpg" alt="Second slide" style="display: block; width: 100%;">
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </slide>
        <slide>
          <img src="assets/digimon-header-3.jpg" alt="Third slide" style="display: block; width: 100%;">
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </slide>
      </carousel>