<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-sm-4 contact">
                <span>
                    taigi100@gmail.com
                </span>
            </div>
            <div class="col col-sm-4">
                <span class="text-muted">
                  Digimon toys
                </span>
            </div>
            <div class="col col-sm-4">
                <a href="#"><i class="fa fa-facebook fa-2x social"></i></a>
                <a href="#"><i class="fa fa-instagram fa-2x social"></i></a>
            </div>
        </div>
    </div>
</footer>