.item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100%;
    min-width: 200px;
    width: 100%;
}

.card-block {
    border-top: 1px solid #e6edee;
    text-align: center;
    padding-bottom: 0.5rem;
    height: 100%;
}

.buy-button {
    margin-left: 1rem;
}

.card-img {
    align-self: center;
    min-width: 200px;
    min-height: 200px;
    width: 200px !important;
    height: 200px !important;
}

.card {
    height: 100%;
}

.card-title {
    font-family: monospace;
}